#navbar nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#navbar nav ul li {
    margin: 25px;
    padding: 10px;
    
}

#navbar nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

#navbar {
    background-color: lightskyblue;
}

footer p {
    background-color: skyblue;
    padding: 10px;
    font-size: 18px;
    color: white;

    text-align: center;
}

#navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 40px;
    background: skyblue;
    
}

#one a{
    text-decoration: none;
    font-size: 25px;
    color: red;
}
p{
    font-size: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 20px;
}
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;


}
a{
    text-decoration: none;
    color: black;
    background-color: aqua;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    
}
a:hover{
    background-color: lightgreen;
    color: white;
}   