h1 {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000; */

    text-shadow: 20cm 20cm 12cm red;
}

. {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#box {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    margin-top: 100px;
    margin-left: 45%;
    /* margin-right: 50%;
     */
    box-shadow: 0px 0px 7px -1px grey;
}

#box:hover {
    background-color: lightgreen;
    box-shadow: 0px 0px 15px 2px grey;
    transform: scale(1, 1);
    transition: all 0.3s ease-in-out;
}

p {
    text-align: center;
    padding-top: 80px;

    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 5px 3px rgb(252, 119, 119);
}

p:hover {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}