.cards {
    border: 2px black solid;
    height: 200px;
    width: 200px;
    margin: 10px;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    font-weight: bold;
    background-color: bisque;
    box-shadow: 8px 3px 5px grey;
    border-radius: 15px;


}

section {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.cards:hover {
    background-color: cyan;
    box-sizing: border-box;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;
    align-items: center;
    align-content: center;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

body {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}

.Main {
    flex: 1;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
    margin-top: 20px;
}

.box-model {
    display: flex;
    flex-direction: row;

}

.box1,
.box2,
.box3 {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    margin: 10px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;


}

.photo {
    width: 80%;
    height: 80%;
    align-items: center;
    align-content: center;
    margin: 10px;

}

.photo1 {
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;

}